.app__header {
  padding: var(--space-lg);
}
.app__description {
  max-width: var(--app-width);

  font-size: var(--space-md);
}
.app__main {
  flex-flow: column nowrap;
}

@media screen and (min-width: 1000px) {
  .app__main {
    flex-flow: row nowrap;
  }
}
